.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04555b;
    color: #fff;
    z-index: 9999;
    position: fixed;
    width: 100%;
}

.left-menu{
    display: inline-flex;
    align-items: center;
}
.name{
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 0px;
    margin-left: 15%;
}

.logo {
    width: 45px;
    height: auto;
    border-radius: 50%;
    margin: 2%;
    margin-left: 15%;
}

.right-menu {
    display: flex;
    align-items: center;
}

.right-menu button {
    margin-right: 10px; 
    padding: 8px 16px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.home,.aboutus,.login{
    background-color:#04555b;
}
.signup{
    background-color:#7db917;
}

.right-menu button:hover {
    background-color: #33bdbf;
}
