.home-img {
    width: 100vw;
    height: 550px
}

.top-content {
    position: absolute;
    top: 60%;
    /* Position the top of the div at the vertical center of the viewport */
    left: 50%;
    /* Position the left of the div at the horizontal center of the viewport */
    transform: translate(-50%, -50%);
    /* Move the div back by half of its own width and height */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.top-btn {
    text-align: center;
    width: 140px;
    height: 45px;
    background-color: rgb(4, 222, 222);
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
}

.top-btn:hover {
    background-color: rgb(17, 0, 255);
}

.Home-top-tital {
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 25px;
}

.top-trending,
.most-reasent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4eff0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.top-trending .topic,
.most-reasent .topic{
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-left: -70%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.top-trending-add,
.most-reasent-add{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    grid-gap: 20px; /* Gap between grid items */
    width: 830px; /* Total width of the grid (250px * 3 + 20px * 2) */  
}

.vertical-large-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}